@charset "UTF-8";
/*!
  Ionicons, v2.0.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face { font-family: "SjjbIcons"; src: url("../fonts/sjjbicons.eot?v=2.0.1"); src: url("../fonts/sjjbicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../fonts/sjjbicons.ttf?v=2.0.1") format("truetype"), url("../fonts/sjjbicons.woff?v=2.0.1") format("woff"), url("../fonts/sjjbicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
.ion, .sjjbicons, .sjjb-atm:before, .sjjb-bakery:before, .sjjb-bank:before, .sjjb-bar:before, .sjjb-beer:before, .sjjb-book:before, .sjjb-bus-stop:before, .sjjb-butcher:before, .sjjb-cafe:before, .sjjb-car-repair:before, .sjjb-car-share:before, .sjjb-caravan:before, .sjjb-christian3:before, .sjjb-cinema2:before, .sjjb-college:before, .sjjb-dentist:before, .sjjb-doctors:before, .sjjb-drinkingtap:before, .sjjb-embassy:before, .sjjb-fastfood:before, .sjjb-firestation:before, .sjjb-fountain:before, .sjjb-fuel:before, .sjjb-gym:before, .sjjb-hamburger:before, .sjjb-hospital:before, .sjjb-hotel:before, .sjjb-hotel2:before, .sjjb-ice-cream:before, .sjjb-information:before, .sjjb-library:before, .sjjb-marketplace:before, .sjjb-museum:before, .sjjb-nursery:before, .sjjb-parking:before, .sjjb-parking-bicycle:before, .sjjb-parking-car:before, .sjjb-pharmacy:before, .sjjb-phone:before, .sjjb-picnic:before, .sjjb-pizza:before, .sjjb-police:before, .sjjb-police2:before, .sjjb-post-box:before, .sjjb-post-office:before, .sjjb-rental-bicycle:before, .sjjb-rental-car:before, .sjjb-restaurant:before, .sjjb-school:before, .sjjb-swimming-outdoor:before, .sjjb-taxi-rank:before, .sjjb-theatre:before, .sjjb-toilets:before, .sjjb-university:before, .sjjb-vending-machine:before, .sjjb-veterinary:before, .sjjb-waste-bin:before { display: inline-block; font-family: "SjjbIcons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.sjjb-atm:before { content: ""; }

.sjjb-bakery:before { content: ""; }

.sjjb-bank:before { content: ""; }

.sjjb-bar:before { content: ""; }

.sjjb-beer:before { content: ""; }

.sjjb-book:before { content: ""; }

.sjjb-bus-stop:before { content: ""; }

.sjjb-butcher:before { content: ""; }

.sjjb-cafe:before { content: ""; }

.sjjb-car-repair:before { content: ""; }

.sjjb-car-share:before { content: ""; }

.sjjb-caravan:before { content: ""; }

.sjjb-christian3:before { content: ""; }

.sjjb-cinema2:before { content: ""; }

.sjjb-college:before { content: ""; }

.sjjb-dentist:before { content: ""; }

.sjjb-doctors:before { content: ""; }

.sjjb-drinkingtap:before { content: ""; }

.sjjb-embassy:before { content: ""; }

.sjjb-fastfood:before { content: ""; }

.sjjb-firestation:before { content: ""; }

.sjjb-fountain:before { content: ""; }

.sjjb-fuel:before { content: ""; }

.sjjb-gym:before { content: ""; }

.sjjb-hamburger:before { content: ""; }

.sjjb-hospital:before { content: ""; }

.sjjb-hotel:before { content: ""; }

.sjjb-hotel2:before { content: ""; }

.sjjb-ice-cream:before { content: ""; }

.sjjb-information:before { content: ""; }

.sjjb-library:before { content: ""; }

.sjjb-marketplace:before { content: ""; }

.sjjb-museum:before { content: ""; }

.sjjb-nursery:before { content: ""; }

.sjjb-parking:before { content: ""; }

.sjjb-parking-bicycle:before { content: ""; }

.sjjb-parking-car:before { content: ""; }

.sjjb-pharmacy:before { content: ""; }

.sjjb-phone:before { content: ""; }

.sjjb-picnic:before { content: ""; }

.sjjb-pizza:before { content: ""; }

.sjjb-police:before { content: ""; }

.sjjb-police2:before { content: ""; }

.sjjb-post-box:before { content: ""; }

.sjjb-post-office:before { content: ""; }

.sjjb-rental-bicycle:before { content: ""; }

.sjjb-rental-car:before { content: ""; }

.sjjb-restaurant:before { content: ""; }

.sjjb-school:before { content: ""; }

.sjjb-swimming-outdoor:before { content: ""; }

.sjjb-taxi-rank:before { content: ""; }

.sjjb-theatre:before { content: ""; }

.sjjb-toilets:before { content: ""; }

.sjjb-university:before { content: ""; }

.sjjb-vending-machine:before { content: ""; }

.sjjb-veterinary:before { content: ""; }

.sjjb-waste-bin:before { content: ""; }

/*# sourceMappingURL=sjjbicons.css.map */
